In [74]:
import pandas as pd

In [87]:
location_data = pd.read_csv("data/location_data.csv")

people_data = pd.read_csv("data/people_data.csv")

security_log_Data = pd.read_csv("data/security_logs.csv")

In [88]:
location_data.head()

,Building Name,Geolocation,Opening Times,Description
0,Boyd Orr Building,{55.8730105 -4.2925361},0800-2100,The Boyd Orr Building is named for the Nobel l...
1,James Watt Building,{55.8708777 -4.2893462},0900-1700,The James Watt Engineering Buildings are named...
2,Adam Smith Building,{55.8737694 -4.2920551},0900-1700,The Adam Smith Building (named in honour of th...
3,Main Building,{55.8714732 -4.2927198},0900-1700,This section of the university hosts Philosoph...
4,Wolfson Medical Building,{55.8729239 -4.295317},0900-1700,The Wolfson Medical School Building was design...

In [89]:
location_data['Geolocation'] = location_data['Geolocation'].map(lambda x: x.lstrip('{').rstrip('}'))
coord_df = pd.DataFrame(location_data.Geolocation.str.split(" ").tolist(), columns=['lat','lon'])
location_data = location_data.drop(['Geolocation'], axis=1)
location_data["lat"] = coord_df["lat"]
location_data["long"] = coord_df["lon"]

In [90]:
security_log_Data

    Student ID               Name              Location        Time
0     2495155L      Mohamed Lloyd      Kelvingrove Park   0338-0716
1     2470551P  Melanie Patterson      Kelvingrove Park   0301-0533
2     2546112P        Eric Parkin      Kelvingrove Park   0720-0843
3     2453876J     Scott Johnston      Kelvingrove Park   0755-0737
4     2549181S  Margaret Saunders  Queen Margaret Union   0843-1052
..         ...                ...                   ...         ...
657   2477517J       Gerald Jones               Library   2114-0017
658   2691086J     Callum Jenkins              The Hive   2328-0113
659   2533061J       Antony James      Kelvingrove Park   2353-0340
660   2858027D        Lynda Davis               Library   2351-0115
661   2795502Y        Shaun Yates      Kelvingrove Park   2328-0324

[662 rows x 4 columns]

In [91]:
len(security_log_Data["Name"].unique())

164

In [93]:
security_log_Data.merge(location_data, right_on="Building Name", left_on="Location")

,Student ID,Name,Location,Time,Building Name,Opening Times,Description,lat,long
0,2495155L,Mohamed Lloyd,Kelvingrove Park,0338-0716,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
1,2470551P,Melanie Patterson,Kelvingrove Park,0301-0533,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
2,2546112P,Eric Parkin,Kelvingrove Park,0720-0843,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
3,2453876J,Scott Johnston,Kelvingrove Park,0755-0737,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
4,2729563B,Paul Butler,Kelvingrove Park,0824-1037,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
...,...,...,...,...,...,...,...,...,...
656,2661827A,Rita Arnold,The Hive,2338-0200,The Hive,2200-0200,An extension to the Union (called 'The Hive') ...,55.8728276,-4.2844698
657,2422827J,Kieran James,The Hive,2333-0028,The Hive,2200-0200,An extension to the Union (called 'The Hive') ...,55.8728276,-4.2844698
658,2737433D,Matthew Davis,The Hive,2321-0010,The Hive,2200-0200,An extension to the Union (called 'The Hive') ...,55.8728276,-4.2844698
659,2843288W,Derek Wilson,The Hive,2307-0029,The Hive,2200-0200,An extension to the Union (called 'The Hive') ...,55.8728276,-4.2844698
660,2691086J,Callum Jenkins,The Hive,2328-0113,The Hive,2200-0200,An extension to the Union (called 'The Hive') ...,55.8728276,-4.2844698