In [299]:
import pandas as pd
from datetime import datetime

In [300]:
def time_not_in_range(start, current, end):
    """Returns whether current is in the range [start, end]"""
    
    return start > current or current > end

In [301]:
location_data = pd.read_csv("data/location_data.csv")

people_data = pd.read_csv("data/people_data.csv")

security_log_Data = pd.read_csv("data/security_logs.csv")

location_data['Geolocation'] = location_data['Geolocation'].map(lambda x: x.lstrip('{').rstrip('}'))
coord_df = pd.DataFrame(location_data.Geolocation.str.split(" ").tolist(), columns=['lat','lon'])
location_data = location_data.drop(['Geolocation'], axis=1)
location_data["lat"] = coord_df["lat"]
location_data["lon"] = coord_df["lon"]
security_location_data = security_log_Data.merge(location_data, how="left", right_on="Building Name", left_on="Location")

In [302]:
len(security_location_data)

662

In [303]:
for i in security_location_data.values:
    time_list = i[3].split('-')

    opening_time_list = i[5].split('-')
        
    time_start = datetime(year=2020, month=1, day=1, hour=int(time_list[0].lstrip()[:2]), minute=int(time_list[0].lstrip()[2:]))

    if int(time_list[0].lstrip()) == int(time_list[1]): 
        day = 3
    elif int(time_list[0].lstrip()) > int(time_list[1]): 
        day = 2
    else:
        day = 1
        
    time_end = datetime(year=2020, month=1, day=day, hour=int(time_list[1][:2]), minute=int(time_list[1][2:]))
    
    ###
    
    opening_time_start = datetime(year=2020, month=1, day=1, hour=int(opening_time_list[0].lstrip()[:2]), minute=int(opening_time_list[0].lstrip()[2:]))
    

    if int(opening_time_list[0].lstrip()) == int(opening_time_list[1]): 
        day = 3
    elif int(opening_time_list[0].lstrip()) >= int(opening_time_list[1]): 
        day = 2
    else:
        day = 1
        
    opening_time_end = datetime(year=2020, month=1, day=day, hour=int(opening_time_list[1][:2]), minute=int(opening_time_list[1][2:]))
    
    if time_not_in_range(opening_time_start, time_start,opening_time_end) or time_not_in_range(opening_time_start, time_end,opening_time_end):
        print(f"{i[1]} was at the {i[2]} after closing time from {time_start.time()} to {time_end.time()}. The {i[2]} opening times are {i[3]}.")

Abdul Murphy was at the Boyd Orr Building after closing time from 22:08:00 to 22:19:00. The Boyd Orr Building opening times are 2208-2219.

In [304]:
security_location_data

,Student ID,Name,Location,Time,Building Name,Opening Times,Description,lat,lon
0,2495155L,Mohamed Lloyd,Kelvingrove Park,0338-0716,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
1,2470551P,Melanie Patterson,Kelvingrove Park,0301-0533,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
2,2546112P,Eric Parkin,Kelvingrove Park,0720-0843,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
3,2453876J,Scott Johnston,Kelvingrove Park,0755-0737,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
4,2549181S,Margaret Saunders,Queen Margaret Union,0843-1052,Queen Margaret Union,0800-2300,The Queen Margaret Union (QMU) on 22 Universit...,55.8735992,-4.2935842
...,...,...,...,...,...,...,...,...,...
657,2477517J,Gerald Jones,Library,2114-0017,Library,0700-0200,The new Library building on Hillhead Street wa...,55.8739571,-4.2940459
658,2691086J,Callum Jenkins,The Hive,2328-0113,The Hive,2200-0200,An extension to the Union (called 'The Hive') ...,55.8728276,-4.2844698
659,2533061J,Antony James,Kelvingrove Park,2353-0340,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528
660,2858027D,Lynda Davis,Library,2351-0115,Library,0700-0200,The new Library building on Hillhead Street wa...,55.8739571,-4.2940459
661,2795502Y,Shaun Yates,Kelvingrove Park,2328-0324,Kelvingrove Park,0000-0000,This is a park. This is a great location for s...,55.8689911,-4.2847528

In [305]:
security_location_data.loc[security_location_data["Name"]=="Abdul Murphy"].head(10)

,Student ID,Name,Location,Time,Building Name,Opening Times,Description,lat,lon
36,2786843M,Abdul Murphy,St Andrews Building,0900-1200,St Andrews Building,0900-1700,The St Andrew's Building was originally built ...,55.8717345,-4.2818099
289,2786843M,Abdul Murphy,Sir Alwyn Williams Building,1208-1302,Sir Alwyn Williams Building,0900-1700,The Sir Alwyn Williams Building is located on ...,55.8739511,-4.2940459
312,2786843M,Abdul Murphy,Queen Margaret Union,1353-1527,Queen Margaret Union,0800-2300,The Queen Margaret Union (QMU) on 22 Universit...,55.8735992,-4.2935842
538,2786843M,Abdul Murphy,Library,1843-1933,Library,0700-0200,The new Library building on Hillhead Street wa...,55.8739571,-4.2940459
609,2786843M,Abdul Murphy,Boyd Orr Building,2208-2219,Boyd Orr Building,0800-2100,The Boyd Orr Building is named for the Nobel l...,55.8730105,-4.2925361